.header-container {
  background: #ffffff;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 128, 0.8);
}
.header-container .header-right {
  float: right;
  height: 70px;
  margin-right: 70px;
}
.header-container .header-right ul {
  list-style: none;
  text-align: center;
}
.header-container .header-right ul:after {
  content: " ";
  clear: both;
  display: table;
}
.header-container .header-right ul li {
  float: left;
  line-height: 70px;
  width: 60px;
  font-size: 18px;
  cursor: pointer;
}
.header-container .header-right ul li a {
  color: #5C6B77;
}
.header-container .header-right ul li a:hover {
  color: #000000;
}
.header-container:after {
  content: " ";
  clear: both;
  display: table;
}
.logo img {
  width: 66%;
  height: 46px;
  cursor: pointer;
  margin: 10px 20px;
}
